<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" href="images/favicon.ico" sizes="16x16" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../static/css/unknown_global.css">
	<link rel="stylesheet" type="text/css" href="../static/css/unknown_chat.css">
	<link rel="stylesheet" type="text/css" href="../static/css/side_nav.css">
	<script type="text/javascript" src="../static/js/jquery.js"></script>
	<script type="text/javascript" src="../static/js/unknown_jquery.js"></script>
	<title>TipMe: Financial Services</title>
	<meta charset="utf-8"/>
</head>

<body>
<div id="content">
	<header>
		<h1>TipMe: Financial Services</h1>
	</header>
	<div class="container">
		<div id="mySidebar" class="sidebar">
			<a href="javascript:void(0)" class="closebtn" id="close-clck">&times;</a>
			<a href="about.html">About</a>
			<a href="services.html">Services</a>
			<a href="contact.html">Contact</a>
			<a href="login.html">Log In</a>
		</div><!--End "mySidebar" Sidebar Content-->

		<div id="main">
			<button class="openbtn" id="open-clck">&#9776;</button>
		</div><!--End "main" Sidebar Open Btn-->

		<div class="toppie">
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
			</p>
			<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
			</p>
		</div>
		<ul>
			<li>
				<div>
					<h3>Calendar</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
					</p>
				</div>
			</li>
			<li>
				<div>
					<h3>Savings Graph</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
					</p>
				</div>
			</li>
			<li>
				<div>
					<h3>Quick Calc</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
					</p>
				</div>
			</li>
			<li>
				<div>
					<h3>Tax Forecaster</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
					</p>
				</div>
			</li>
		</ul>
	</div><!--End Container Div-->

	<button class="open-button" id="chat-open">Chat</button>

	<div class="chat-popup" id="myForm">
        <h1>Chat</h1>

        <div class="box"></div>
        <div class="boxed">
            <div>
                <div id="chatbox">
                    <p class="botText">
                        <span> Hello! I'm Tipi lets get started </span>
                    </p>
                </div>
                <div id="userInput">
                    <input id="textInput" type="text" name="msg" placeholder="Message" />
                    <input id="buttonInput" class="btn btn-success form-control" type="submit" value="Send">
                </div>
            </div>
        <button type="button" class="btn cancel" id="chat-clse">Close</button>
			<script>
				function getBotResponse()
					{
						var rawText = $("#textInput").val();
						var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
						$("#textInput").val("");
						$("#chatbox").append(userHtml);
						document
							.getElementById("userInput")
							.scrollIntoView({block: "start", behavior: "smooth"});
						$.get("/get", {msg: rawText }).done(function(data) {
						var botHtml = '<p class="botText"><span>' + data + "</span></p>";
						$("#chatbox").append(botHtml);
						document
							.getElementById("userInput")
							.scrollIntoView({ block: "start", behavior: "smooth" })
							});
						}
                $('#textInput').keypress(function(e) {
                    var code = (e.keyCode ? e.keyCode : e.which);
                    if (code == '13') {
                        e.preventDefault();
                        getBotResponse();
                    }
                });
				$("#buttonInput").click(function() {
                    getBotResponse();
                });

				</script>
        	</div>
    	</div><!--End Chat Panel -->
	</div><!--End Content Panel-->
</body>
</html>
